table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

thead {
    background-color: #004080;
    color: white;
    border: 1px solid black;
}

td {
    border: 1px solid black;
    padding: 3px;
    font-size: 13px;
}

/* Center the 'Revised (MM/YY)' column (3rd column) in the main forms table
   Excludes nested tables (table1, table2) so nested table layouts are unaffected. */
table:not(.table1):not(.table2) th:nth-child(3),
table:not(.table1):not(.table2) td:nth-child(3) {
    text-align: center;
}

h1 {
    text-align: center;
    border: 4px solid black;
    padding: 10px;
    background-color: #004080;
    color: white;
}