table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

thead {
    background-color: #004080;
    color: white;
    border: 1px solid black;
}

td {
    border: 1px solid black;
    padding: 3px;
    font-size: 13px;
}